.cvContent {
  background-color: #111111;
  color: #7FDBFF;
  margin: 5% 15% 0 15%;
}

.header {
    width: 100%;
    display: flex;
  }
  
  .my-photo {
    width: 20%;
    margin-left: 0.5%;
    margin-top: 0.5%;
  }
  
  .my-photo img {
    width: 100%;
  }
  
  .header-content {
    width: 70%;
    margin: 20px;
  }
  
  section {
    margin: 10px;
  }
  
  .section-header {
    cursor: pointer;
  }
  
  .experience,
  .studies {
    display: none;
  }
  
  .active {
    display: block;
    background-color: #0074D9;
    padding: 10px;
    color: #001f3f;
  }

  a {
    text-decoration: none;
    color: #2ECC40;
  }

  a:visited {
    color: #3D9970;
  }

  a:hover {
    color: #01FF70;
  }

  footer img {
    width: 3%;
    padding: 15px;
  }